@model IEnumerable<Ecomerce_Restaurant.Models.FoodModels.FoodCategories>


<h2>[Admin] Categories Section</h2>
@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@

<div class="form-horizontal">
    @*<p style="color:#0094ff;text-align:left;width:100%;clear:both;background-color:#808080;font-size:15pt">*@

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                @Ajax.ActionLink("Add category", "Create", "FoodCategories", new AjaxOptions
                   {
                       InsertionMode = InsertionMode.Replace,
                       UpdateTargetId = "createcatdiv",
                       HttpMethod = "GET"
                   })
                @*</a>*@
            </h4>
        </div>
    </div>
    @*<input type="button" value="Create new Category" onclick="location.href='@Url.Action("Create", "FoodCategories")'" class="btn btn-success" />*@
</div>
<div id="createcatdiv"></div>
<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
    <div class="panel-body">
        <div class="col-md-6">
            <div class="form-horizontal">
                <div class="panel panel-default" id="editcatdiv"></div>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.CategoryName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CategoryDescription)
                        </th>
                        <th></th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CategoryName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CategoryDescription)
                            </td>
                            <td>
                                <p class="btn btn-warning" style="color:#ffffff">
                                    @Ajax.ActionLink("Edit", "Edit", "FoodCategories", new { id = item.ID }, new AjaxOptions
                   {
                       InsertionMode = InsertionMode.Replace,
                       UpdateTargetId = "editcatdiv",
                       HttpMethod = "GET"
                   })
                                </p>
                            </td>
                            <td>
                                <p class="btn btn-danger">
                                    @Ajax.ActionLink("Delete", "Delete", "FoodCategories", new { delid = item.ID }, new AjaxOptions
                   {
                       InsertionMode = InsertionMode.Replace,
                       UpdateTargetId = "editcatdiv",
                       HttpMethod = "GET"
                   })
                                </p>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                List of Food Category
            </a>
        </h4>
    </div>
</div>
