@model Dictionary<Ecomerce_Restaurant.Models.FoodModels.Food, int>

@{
    ViewBag.Title = "Almost Finish";
}



<div>
    <h4>Foods you have selected</h4>
	<hr />
	

	<table class="table">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Keys.FirstOrDefault().Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Keys.FirstOrDefault().CategoryName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Keys.FirstOrDefault().FoodDescription)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Keys.FirstOrDefault().Price)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Keys.FirstOrDefault().FoodRating)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Keys.FirstOrDefault().RatingCount)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Keys.FirstOrDefault().FoodImageName)
			</th>
			<th>
				Quantity
			</th>
			<th>
				Total Price
			</th>
		</tr>

		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Key.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Key.CategoryName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Key.FoodDescription)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Key.Price)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Key.FoodRating)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Key.RatingCount)
				</td>
				<td>
					<img src="~/Images/@(item.Key.FoodImageName)" style="text-align: center" height="50" width="50" />
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Value)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Key.TotalPrice)
				</td>
			</tr>

		}
	</table>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
