@model IEnumerable<Ecomerce_Restaurant.Models.FoodModels.FoodName>


<div class="panel panel-default">
    <div class="panel-heading">
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CategoryName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FoodDescription)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FoodPrice)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FoodRating)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TotalRatedPeople)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FoodItemPicName)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tr class="warning">
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CategoryName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FoodDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FoodPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FoodRating)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalRatedPeople)
                        </td>
                        <td>
                            <img src="~/Images/@(item.FoodItemPicName)" height="50" width="50" />

                        </td>
                        <td>
                            <p class="button">
                                @Html.ActionLink("Add to cart", "Index","CustomerOrders", new { id = item.ID }, "")
                            </p>

                        </td>
                        @*<td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                            </td>*@
                    </tr>
                }

            </table>
        </div>
    </div>
</div>